/* 

© COPYRIGHT 2023 - Tous Droits Réservés
©HANS MATTHIS

*/

:root {
    --ColorBG:white;
    --ColorBlue:#83b4f9;
    --ColorGreen:#81F68D;
    --ColorGrey:#f8f9fa;
    --ColorGreyP:#a3a3a3;
}

*{
    box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

::selection {
    background-color: #b7d2f8;
  }
  

* {
    font-family: Open;
}

img {
    border-radius: 50%;
}

@font-face {
    font-family: Open;
    src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}

button {
    border:solid var(--ColorBlue);
    width: 200px;
    height: 50px;
    background-color: transparent;
    border-radius: 2rem;
    color: var(--ColorBlue);
    font-size: medium;
    font-weight: bold;
    margin-top: 2%;
    cursor: pointer;
    transition: 2sec;
}


button:hover{
    background-color: var(--ColorBlue);
    color: white;
    transition: 0.5s;
}


#deco {
    background-color: var(--ColorBlue);
    height: 5px;
    width: 150px;
}

/* ========== HEADER ========== */

.container-header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 10vh;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: flex;
    animation: slide_header 2s;
}
#header-logo {
    border-radius: 50%;
    border: 0.2rem solid var(--ColorBlue);
    height: 4rem;
    margin-left: 5rem;
    align-self: center;
}
@media (max-height:700px){
    #header-logo {
        height: 3rem;
        margin-left: 2rem;
    }
}


/* ========== MAIN ========== */

.container-main {
    width: 100%;
    height: 100%;
}

.info {
    background-color: rgb(255, 255, 255);
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 1000px;
    margin-left: 10%;
    margin-top: 10%;
}

.accueil {
    width: 100%;
    height: 70vh;
    margin-left: 10%;
    margin-top: 10%;
}


.presentation {
    display:flex ;
    flex-direction: column;
    animation: slide_info 2s;
}



.presentation, #title-accueil {
    font-size: 3em;
    font-size: 4rem;
    line-height: 1;
    font-weight: 800;
    float: left;
    margin-bottom: 2%;
}


span {
    color: var(--ColorBlue);
}

.presentation, #p-accueil{
    font-size: 1.2em;
    line-height: 1.8;
    font-weight:normal;
    width: 55%;
}
@media (max-width:1300px){
    .presentation, #p-accueil{
        width: 80%;
    }
}



 #logo-main{
    align-self:flex-end ;
    border-radius: 50%;
    border: 0.5rem solid var(--ColorBlue);
    height: 350px;
    width: 350px;
    margin-right: 18%;
    transform: translateY(-5%);
    animation: slide_logo 2s;
}
@media (max-width:1300px){
    #logo-main{
        display: none;
    }
}


.main-connaissances {
    background-color: var(--ColorGrey);
    height: 100%;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.connaissances {
    height: 25vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title-connaissances {
    font-weight: 500;
    line-height: 1.2;
    font-size: 2.2rem;
    padding-top: 5%;
    margin-bottom: 2%;
}

.cartes-connaissances {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#carte {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
    text-align: left;
    flex: 1;
    margin: 2rem !important;
    border-radius: 5px;
    height: 24rem !important;
    max-width: 28rem !important;
    min-height: 24rem !important;
    min-width: 28rem !important;
    padding: 2rem;
}
@media (max-width:500px){
    #carte {
        max-width: 19rem !important;
        min-width: 19rem !important;
    }
}

#carte-moi {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background-color: white;
    text-align: left;
    flex: 1;
    margin: 2rem !important;
    border-radius: 5px;
    height: 24rem !important;
    max-width: 100rem !important;
    min-height: 24rem !important;
    min-width: 28rem !important;
    padding: 2rem;
}
@media (max-width:790px){
    #carte-moi {
        max-width: 100rem !important;
        min-width: 25rem !important;
        height: 30rem !important;
    }
}
@media (max-width:600px){
    #carte-moi {
        max-width: 100rem !important;
        min-width: 25rem !important;
        height: 35rem !important;
    }
}



#row {
    display: flex;
    flex-direction: row;
}

#p-connaissances {
    margin-top: 5%;
}

#carte-title{
    width: 100%;
}

#img-carte {
    height: 60px;
    width: 60px;
    margin-top: -1%;
}

.container-footer {
    height: 20vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 20px;
}

.btn-footer {
    border:transparent;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 2rem;
    color: transparent;
    font-size: medium;
    font-weight: bold;
    margin-top: 2%;
    cursor: pointer;
}
.btn-footer:hover {
    background-color:#f8f9fa;
}

.img-footer {
    height: 40px;
    width: 40px;
} .img-footer:hover{
    transform : rotate(20deg);
    transition: 0.2s;
}
a {
    padding: 8px;
}

#title-footer {
    color: var(--ColorGreyP);
    font-weight: normal;
}

#copyright {
    color: var(--ColorGreyP);
}

.progress {
   width: 100%;
   border-radius: 50px;
   border-color: transparent;
   margin-top: 5%;
}

#html::-moz-progress-bar { 
    background: rgb(255, 30, 0); 
    border-radius: 50px;
}
#html::-webkit-progress-value { background: blue; }

#css::-moz-progress-bar { 
    background-color:#83b4f9; 
    border-radius: 50px;
}
#html::-webkit-progress-value { background:#83b4f9; }

#js::-moz-progress-bar { 
    background-color:#f8e640; 
    border-radius: 50px;
}
#js::-webkit-progress-value { background:#f8e640; }

#design::-moz-progress-bar { 
    background-color:#8e59a0; 
    border-radius: 50px;
}
#design::-webkit-progress-value { background:#8e59a0; }


#sql::-moz-progress-bar { 
    background-color:#ff6838; 
    border-radius: 50px;
}
#sql::-webkit-progress-value { background:#ff6838;  }

#chatgpt::-moz-progress-bar { 
    background-color:#0fa37f; 
    border-radius: 50px;
}
#chatgpt::-webkit-progress-value { background:#0fa37f;  }

/* 
    Projets
*/

.btn-p {
    width: 100%;
    cursor: pointer;
}

#calculette {
    border-color:#ff9700;
    color: #ff9700;
}           #calculette:hover {
            background-color: #ff9700;
            color: white;
}

#asetar {
    border-color:#00905b;
    color: #00905b;
}       #asetar:hover {
        background-color:#00905b;
        color: white;
}


#dolibarr {
    width: 100%;
    border-color: #2d608e;
    color: #2d608e;
}       #dolibarr:hover {
        background-color: #2d608e;
        color: white;
}

#directus {
    width: 100%;
    border-color:#8555f7;
    color: #8555f7;
}       #directus:hover {
    background-color:#8555f7;
    color: white;
}

#draganddrop {
    border-color:#478cf7;
    color:#478cf7;
}       #draganddrop:hover{
        background-color: #478cf7;
        color: white;
}

#diagramme {
    border-color:#ffd478;
    color:#ffd478;
}   #diagramme:hover{
    background-color:#ffd478;
    color: white;
}

#diagramme {
    border-color:#ffd478;
    color:#ffd478;
}   #diagramme:hover{
    background-color:#ffd478;
    color: white;
}

#molitor {
    border-color:#677d70;
    color:#677d70;
}   #molitor:hover{
    background-color:#677d70;
    color: white;
}

#roulette{
    border-color:#1e1341;
    color:#1e1341;
}   #roulette:hover{
    background-color:#1e1341;
    color: white;
}

#scroll_to_top {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 50px;
  }
#scroll_to_top img:hover{
    transform : translateY(-8px);
}


/* 
Animation 
*/

@keyframes slide_header {
    0% {
        transform: translate(0px, -1000px);
        animation-timing-function:ease-in-out
    }
 
    50% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 
    100% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 }


@keyframes slide_info {
    0% {
        transform: translate(-1000px, 00px);
        animation-timing-function:ease-in-out
    }
 
    50% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 
    100% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 }

 @keyframes slide_logo {
    0% {
        transform: translate(1000px, 00px);
        animation-timing-function:ease-in-out
    }
 
    50% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 
    100% {
        transform: translate(0px, 0px);
        animation-timing-function:ease-in-out
    }
 }